*.dll
*.o
*.Rhistory
*.pper
*.CSV
*.jpg
*.pdf
*.Rproj.user
*shared
*raw
*forSS
*deprecated
*.Rhistory
sptlvb.dll
sptlvb.o
sptlvb.dll
sptlvb.o
*contents
.Rhistory
mapdata/Commercial_Groundfish_Registration_Areas.zip
spatiotemporalBSAIgrowth-master/.Rbuildignore
*pper
*sources*
*.pper
iPopSim/.Rproj.user/B0D26E57/pcs/source-pane.pper
iPopSim/.Rproj.user/B0D26E57/pcs/windowlayoutstate.pper
iPopSim/.Rproj.user/B0D26E57/sources/per/t/10E6EAA9
iPopSim/.Rproj.user/B0D26E57/sources/per/t/11D57B3
iPopSim/.Rproj.user/B0D26E57/sources/per/t/8185BB4C
iPopSim/.Rproj.user/B0D26E57/sources/per/t/CDFC90E2
iPopSim/.Rproj.user/B0D26E57/sources/prop/155A1C09
iPopSim/.Rproj.user/B0D26E57/sources/prop/8AC96EB0
iPopSim/.Rproj.user/B0D26E57/sources/prop/AE5FBAF9
iPopSim/.Rproj.user/B0D26E57/viewer-cache/8ABAFF4.Rdata
iPopSim/.Rproj.user/shared/notebooks/25646E89-iPopSim_MK/1/s/csetup_chunk/000002.csv
iPopSim/.Rproj.user/shared/notebooks/paths
iPopSim/.Rproj.user/B0D26E57/viewer-cache/8ABAFF4.Rdata
iPopSim/.Rproj.user/B0D26E57/viewer-cache/8ABAFF4.Rdata
iPopSim/.Rproj.user/B0D26E57/sources/prop/AE5FBAF9
iPopSim/.Rproj.user/B0D26E57/sources/prop/8AC96EB0
iPopSim/.Rproj.user/B0D26E57/sources/prop/155A1C09
iPopSim/.Rproj.user/B0D26E57/sources/per/t/CDFC90E2
iPopSim/.Rproj.user/B0D26E57/sources/per/t/8185BB4C
iPopSim/.Rproj.user/B0D26E57/sources/per/t/11D57B3
iPopSim/.Rproj.user/B0D26E57/sources/per/t/10E6EAA9
iPopSim/.Rproj.user/B0D26E57/pcs/windowlayoutstate.pper
iPopSim/.Rproj.user/B0D26E57/pcs/source-pane.pper
*.jpg
*.jpg
