*.dll
*.o
*.Rhistory
*.Rproj.user\*
*raw
*forSS
*deprecated
.Rhistory
sptlvb.dll
sptlvb.o
sptlvb.dll
sptlvb.o
*contents
.Rhistory
mapdata/Commercial_Groundfish_Registration_Areas.zip
spatiotemporalBSAIgrowth-master/.Rbuildignore
*pper
*sources*
